<div class="row mt-5 mx-5">
  <div class="col col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="registerForm">
          <h5 class="card-title">Registraion</h5>

          <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12">
              <div class="form-group">
                <label for="name"
                  >Name<span
                    class="text-danger"
                    *ngIf="registerForm.controls.name.errors?.required"
                    >*</span
                  ></label
                >
                <input
                  class="form-control"
                  id="name"
                  placeholder="Enter Your name"
                  type="text"
                  formControlName="name"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    registerForm.get('name')?.hasError('required') &&
                    registerForm.get('name')?.touched
                  "
                >
                  This field is required
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12">
              <div class="form-group">
                <label for="gender"
                  >Gender<span
                    class="text-danger"
                    *ngIf="registerForm.controls.gender.errors?.required"
                    >*</span
                  ></label
                >
                <label
                  ><input
                    type="radio"
                    name="gender"
                    value="Male"
                    formControlName="gender"
                  />Male</label
                >&nbsp;
                <label
                  ><input
                    type="radio"
                    name="gender"
                    value="Female"
                    formControlName="gender"
                  />Female</label
                >
                <div
                  class="text-danger"
                  *ngIf="
                    registerForm.get('gender')?.hasError('required') &&
                    registerForm.get('gender')?.touched
                  "
                >
                  This field is required
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12">
              <div class="form-group">
                <label for="email"
                  >Email<span
                    class="text-danger"
                    *ngIf="registerForm.controls.email.errors?.required"
                    >*</span
                  ></label
                >
                <input
                  formControlName="email"
                  class="form-control"
                  id="email"
                  placeholder="Enter Your email"
                  type="text"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    registerForm.get('email')?.hasError('required') &&
                    registerForm.get('email')?.touched
                  "
                >
                  This field is required
                </div>

                <div
                  class="text-danger"
                  *ngIf="
                    registerForm.get('email')?.hasError('pattern') &&
                    registerForm.get('email')?.touched
                  "
                >
                  Enter Valid email
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12">
              <div class="form-group">
                <label for="dob"
                  >Date of birth<span
                    class="text-danger"
                    *ngIf="registerForm.controls.dob.errors?.required"
                    >*</span
                  ></label
                >
                <input
                  formControlName="dob"
                  class="form-control"
                  id="dob"
                  placeholder="Enter Your Date of Birth"
                  type="date"
                  [max]="MaxDate"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    registerForm.get('dob')?.hasError('required') &&
                    registerForm.get('dob')?.touched
                  "
                >
                  This field is required
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12">
              <div class="form-group">
                <label for="mobile"
                  >Mobile<span
                    class="text-danger"
                    *ngIf="registerForm.controls.mobile.errors?.required"
                    >*</span
                  ></label
                >
                <input
                  formControlName="mobile"
                  class="form-control"
                  id="mobileNo"
                  placeholder="Enter Your Mobile number"
                  type="text"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    registerForm.get('mobile')?.hasError('required') &&
                    registerForm.get('mobile')?.touched
                  "
                >
                  This field is required
                </div>

                <div
                  class="text-danger"
                  *ngIf="
                    registerForm.get('mobile')?.hasError('pattern') &&
                    registerForm.get('mobile')?.touched
                  "
                >
                  Enter valid mobile number
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-lg-12 col-md-12">
              <div class="form-group">
                <label for="about"
                  >About Me<span
                    class="text-danger"
                    *ngIf="registerForm.controls.about.errors?.required"
                    >*</span
                  ></label
                >
                <textarea
                  formControlName="about"
                  class="form-control"
                  id="about"
                ></textarea>
                <div
                  class="text-danger"
                  *ngIf="
                    registerForm.get('about')?.hasError('required') &&
                    registerForm.get('about')?.touched
                  "
                >
                  This field is required
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-lg-5 col-md-5">
              <button
                *ngIf="!isEdit"
                class="btn btn-primary btn-md"
                type="button"
                (click)="saveForm()"
                [disabled]="!registerForm.valid"
              >
                <i class="fa fa-floppy-o"></i>&nbsp; Submit
              </button>

              <button
                *ngIf="isEdit"
                class="btn btn-primary btn-md"
                type="button"
                (click)="editUser()"
                [disabled]="!registerForm.valid"
              >
                <i class="fa fa-edit"></i>&nbsp; Update
              </button>
              &nbsp;&nbsp;&nbsp;
            </div>
            <div class="col col-lg-5 col-md-5">
              <button class="btn btn-warning btn-md" type="reset">
                <i class="fa fa-refresh" (click)="ResetForm()"></i>&nbsp; Reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col col-md-8 col-lg-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">User List</h5>
        <div class="row mt-2">
          <div class="col-lg-3 col-md-3">
            <input
              class="form-control"
              placeholder="Search by Name"
              type="text"
              [(ngModel)]="name"
            />
          </div>

          <div class="col-lg-3 col-md-3">
            <input
              class="form-control"
              placeholder="Search by Gender"
              type="text"
              [(ngModel)]="gender"
            />
          </div>

          <div class="col-lg-3 col-md-3">
            <input
              class="form-control"
              placeholder="Search by Email"
              type="text"
              [(ngModel)]="email"
            />
          </div>



          <div class="col-lg-3 col-md-3">
            <input
              class="form-control"
              placeholder="Search by Mobile"
              type="text"
              [(ngModel)]="mobile"
            />
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <tr>
                  <th *ngFor="let header of listHeader">
                    {{ header | titlecase }}
                  </th>
                </tr>
                <tbody>
                  <!-- | filter: name -->
                  <tr
                    *ngFor="
                      let users of listUser
                        | searchUser: { name: name }
                        | searchMobile: { mobile: mobile }
                        | searchEmail: { email: email }
                        | searchGender: { gender: gender };
                      let i = index
                    "
                  >
                    <td>{{ users.name | titlecase }}</td>
                    <td>{{ users.gender | titlecase }}</td>
                    <td>{{ users.email | lowercase }}</td>
                    <td>{{ users.dob | lowercase }}</td>
                    <td>{{ users.mobile }}</td>
                    <td>{{ users.about }}</td>

                    <td>
                      <button
                        type="button"
                        class="btn btn-info btn-sm mx-2"
                        (click)="editRecord(users)"
                      >
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button
                        class="btn btn-danger btn-sm"
                        (click)="deleteRecord(i)"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="!listUser.length">
                    <td colspan="7">No record Found</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
